<div class="character @CharacterCss">
    <Shadow />
    <Body SkinColor="Model.SkinColor" />
    <Face Model="Model.Face" />
    <Hair Model="Model.Hair" />
    <Shoes Color="Model.ShoeColor" Style="Model.ShoeStyle" />
    <Shirt Color="Model.ShirtColor" Style="Model.ShirtStyle" />
    <Pants Color="Model.PantColor" Style="Model.PantStyle" />
</div>

@code {

    [Parameter, EditorRequired] public CharacterModel Model { get; set; } = null!;

    private string CharacterCss { get; set; } = "face-down";

    protected override void OnParametersSet()
    {
        SetCharacterCss();
    }

    void SetCharacterCss()
    {
        var animation = Model.Animation.ToString().ToLower();
        var direction = $"face-{Model.Direction}".ToLower();

        CharacterCss = $"{animation} {direction}";
    }
}