:root {
    --character-width: calc(var(--base-width) * var(--pixel-size));
    --character-height: calc(var(--character-width) + 16px);

    --walking-keyframes: 8;
    --walking-width: calc(var(--character-width) * var(--walking-keyframes));
}

.character {
    width: var(--character-width);
    height: var(--character-height);
    overflow: hidden;
    position: relative;
}

    .character.walking > .spritesheet {
        animation: walk 1s steps(var(--walking-keyframes)) infinite;
        width: var(--walking-width);
    }

    character.walking.face-down > .spritesheet {
        top: 0;
    }

    .character.walking.face-up > .spritesheet {
        top: calc(-32px * var(--pixel-size));
    }

    .character.walking.face-right > .spritesheet {
        top: calc(-64px * var(--pixel-size));
    }

    .character.walking.face-left > .spritesheet {
        top: calc(-96px * var(--pixel-size));
    }

@keyframes walk {
    from {
        transform: translate3d(0px, 0, 0);
    }

    to {
        transform: translate3d(calc(-1 * var(--walking-width)), 0, 0);
    }
}