@using Models.Character

<div class="character walking @DirectionCss">
    <CascadingValue Value="Model">
        <img class="shadow" src="assets/shadow.png" />
        <img class="spritesheet body" src="assets/characters/@CharacterSource" />
        <Face />
        <Hair Color="Model.HairColor" Style="Model.HairStyle" />
        <Shirt Color="Model.ShirtColor" Style="Model.ShirtStyle" />
    </CascadingValue>
</div>

@code {

    [Parameter, EditorRequired] public CharacterModel Model { get; set; } = null!;

    private string CharacterSource { get; set; } = "char1.png";
    private string DirectionCss { get; set; } = "face-down";

    protected override void OnParametersSet()
    {
        SetDirection();
        SetSource();
    }

    void SetDirection()
    {
        DirectionCss = $"face-{Model.Direction}".ToLower();
    }

    void SetSource()
    {
        CharacterSource = Model.SkinColor switch
        {
            SkinColor.Skin1 => "char1.png",
            SkinColor.Skin2 => "char2.png",
            SkinColor.Skin3 => "char3.png",
            SkinColor.Skin4 => "char4.png",
            SkinColor.Skin5 => "char5.png",
            SkinColor.Skin6 => "char6.png",
            SkinColor.Skin7 => "char7.png",
            SkinColor.Skin8 => "char8.png",
            _ => throw new NotSupportedException()
        };
    }
}