.title, .title span {
    font: 24pt Rainmaker;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    color: seagreen;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed seagreen;
}

#character-creator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkseagreen;
    width: fit-content;
    padding: 3rem;
    border-radius: 10px;
    margin: auto;

    > .content {
        display: flex;
    }

    #character-container {
        height: auto;
        border-radius: 5px;
        border: 2px groove forestgreen;
        background-color: wheat;
    }

    #options-container {
        height: auto;

        .content {
            border-radius: 5px;
            background-color: seagreen;
            padding: 1rem;
        }

        .content > form > div {
            display: flex;
            flex-direction: row;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;

            > div {
                display: flex;
                flex-direction: column;
                min-width: 96px;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
        }
    }
}
