@using Models.Character

<div class="character walking">
    <CascadingValue Value="Model">
        <img class="shadow" src="assets/shadow.png" />
        <img class="spritesheet body" src="assets/characters/@CharacterSource" />
        <Hair />
    </CascadingValue>
</div>

@code {

    [Parameter] public CharacterModel Model { get; set; } = new();

    private string CharacterSource { get; set; } = "char1.png";

    protected override void OnParametersSet()
    {
        SetCharacterSource();
    }

    void SetCharacterSource()
    {
        CharacterSource = Model.SkinColor switch
        {
            SkinColor.Skin1 => "char1.png",
            SkinColor.Skin2 => "char2.png",
            SkinColor.Skin3 => "char3.png",
            SkinColor.Skin4 => "char4.png",
            SkinColor.Skin5 => "char5.png",
            SkinColor.Skin6 => "char6.png",
            SkinColor.Skin7 => "char7.png",
            SkinColor.Skin8 => "char8.png",
            _ => throw new NotSupportedException()
        };
    }
}