@page "/"

<PageTitle>Home - Blazing Sprites</PageTitle>

<MainTitle Class="text-center mt-2">Blazing Sprites</MainTitle>

<section class="main">
    <CharacterCreator />
</section>

<footer>
    <div>No idea what this is yet?</div>
    <div>But there is a <a href="https://github.com/erinnmclaughlin/BlazingSprites">GitHub Repo</a> so...</div>

    <div class="mt-1">Art by <a href="https://shubibubi.itch.io/">shubibubi</a></div>
</footer>