@page "/"

<PageTitle>Home - Blazing Sprites</PageTitle>

<MainTitle Class="text-center mt-2">Blazing Sprites</MainTitle>

<div class="main">
    <CharacterCreator />
</div>

<footer>
    <div>No idea what this is yet?</div>
    <div>But there is a <a href="https://github.com/erinnmclaughlin/BlazingSprites">GitHub Repo</a> so...</div>
</footer>